/* line 1, ../sass/_header.scss */
header {
  background: black;
  position: relative;
}

/* line 10, ../sass/_header.scss */
nav {
  position: relative;
  background: #000;
}
/* line 14, ../sass/_header.scss */
nav ul {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 125px;
  padding: 0;
  margin: 0;
}
/* line 25, ../sass/_header.scss */
nav li {
  text-align: center;
  border-right: 4px #000 solid;
  border-bottom: 4px solid #000;
  display: table-cell;
}
/* line 31, ../sass/_header.scss */
nav li:last-child {
  border-right: none;
}
/* line 36, ../sass/_header.scss */
nav a {
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  color: #fff;
  font-size: 0px;
}

/* line 47, ../sass/_header.scss */
.about-btn {
  height: 120px;
  width: 102px;
  background: url("../img/about.png") no-repeat;
}

/*.eye{
	margin:10px;
	width:170px;
	height:50px;
	background:$eyeColor;
}
.eye-left{
	position:absolute;
	left:0;
	top:0;
}
.eye-right{
	position:absolute;
	right:0;
	top:0;
}
.centered{

}
.iris{
	height:30px;
	width:100px;
	//border:1px #fff solid;
	//background:$irisColor;
}
.pupil{
	height:10px;
	width:10px;
	background:$pupilColor;
}
.nose-top{
	width:170px;
	height:100px;
	background:#000;
	position:absolute;
	margin-right:auto;
	margin-left:auto;
	border-right: 2px solid #fff;
	border-left: 2px solid #fff;
	border-radius:5px;
	right:0;
	left:0;

		
}
.nose-bottom{
	width:230px;
	height:65px;
	position:absolute;
	margin:auto;
	left:0;
	right:0;
	bottom:0;
	top:80px;
	background:#000;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	border-left: 2px solid #fff;


}*/
/* line 2, ../sass/_animations.scss */
.fadedOn {
  animation: mymove 1s infinite;
  -webkit-animation: mymove 5s infinite;
  /* Safari and Chrome */
}

@keyframes mymove {
  /* line 9, ../sass/_animations.scss */
  from {
    top: 0px;
  }

  /* line 10, ../sass/_animations.scss */
  to {
    top: 200px;
  }
}

@-webkit-keyframes mymove {
  /* line 15, ../sass/_animations.scss */
  from {
    top: 0px;
  }

  /* line 16, ../sass/_animations.scss */
  to {
    top: 200px;
  }
}

/* line 1, ../sass/_footer.scss */
footer {
  position: relative;
  background: black;
  height: 100px;
  padding: 0;
  margin: 0;
}
/* line 9, ../sass/_footer.scss */
footer ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  padding: 0;
  margin: 0;
}
/* line 16, ../sass/_footer.scss */
footer li {
  text-align: center;
  display: table-cell;
}
/* line 20, ../sass/_footer.scss */
footer a {
  display: block;
  width: 100%;
}

/* line 12, ../sass/style.scss */
body {
  margin: 0;
  background-color: #fff;
}

/* line 22, ../sass/style.scss */
h1 {
  margin-top: 0;
  padding-left: 20px;
}

/* line 26, ../sass/style.scss */
p {
  margin: 0;
}

/* line 34, ../sass/style.scss */
.container {
  position: relative;
  margin-top: 20px;
}

/* line 42, ../sass/style.scss */
.abs-centered {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 50, ../sass/style.scss */
.wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 54, ../sass/style.scss */
.content-back {
  background: #fff;
  width: 100%;
  height: 320px;
  position: absolute;
  z-index: -10;
}

/* line 66, ../sass/style.scss */
#main-content {
  margin-top: 60px;
  color: #000;
}

/* line 71, ../sass/style.scss */
.hidden {
  display: hidden;
}

/* line 74, ../sass/style.scss */
.work-link {
  width: 100%;
  display: block;
}

/* line 78, ../sass/style.scss */
section {
  height: auto;
  width: 100%;
  margin-bottom: 50px;
  background: #000;
}

/* line 88, ../sass/style.scss */
.work-section {
  padding: 0;
}

/* line 92, ../sass/style.scss */
.section-content {
  display: none;
}

/* line 98, ../sass/style.scss */
article {
  position: relative;
  height: 200px;
  background: #ff0000;
}

/* line 103, ../sass/style.scss */
.head {
  min-height: 100%;
}

/* line 107, ../sass/style.scss */
.chewing-box {
  width: 500px;
  height: 0px;
  position: relative;
}

/* line 114, ../sass/style.scss */
.icn-contact {
  background: url("../img/icon/icn-contact.png") no-repeat;
  background-position: center;
  display: block;
  height: 30px;
}

/* line 122, ../sass/style.scss */
.icn {
  font-size: 0px;
}

/* line 125, ../sass/style.scss */
.thumby {
  cursor: pointer;
}

@media (max-width: screen-sm) {
  /* line 133, ../sass/style.scss */
  body {
    background: #ff0000;
  }

  /* line 136, ../sass/style.scss */
  .container {
    width: 100%;
  }
}
