body{


}
#container{
    width:1024px;
    margin:0px auto;



}
#mouth-top{
    width:1024px;
    height:100px;
    background: #c2c2c2;

}


#mouth-bottom{
    width:1024px;
    height:100px;
    background: #c2c2c2;
    position: absolute;
    z-index: 1;

}


#content{
   width:960px;
   height:768px;
   background: #ff2244;
   margin:0px auto;
   z-index: 0;

}