.section-content{
	img{
		margin-top: 20px;
	}
}
.close-btn{
	float:right;
	cursor:pointer;
	margin-top:20px;
	margin-right:20px;
	max-width:34px;
}
.project-description{
	margin-bottom:20px;
}

.about-img{
	display:inline-block;
}