footer{
		//opacity:0.5;
	//display:table;
	position: relative;
	background:$faceColor;
	height:100px;
	padding:0;
	margin:0;
	ul{
		width:100%;
		display:table;
		table-layout: fixed;
		padding:0;
		margin:0;
	}
	li{
		text-align:center;
		display:table-cell;
	}
	a{
		//background:#ff0000;
		display:block;
		width:100%;
	}
}