//@import 'bootstrap';
@import 'colors';
@import 'header';
@import 'animations';
@import 'footer';


html{
	height:100%;
}

body{
	//height:100%;
	margin:0;
	//background:url("../img/bg-neck.gif")repeat-y;
	background-position:center;

	background-color:#fff;
	height:100%;
	//overflow:hidden;
}
h1{
	margin-top:0;
	padding-left:20px;
}
p{
	margin:0;
}



.container{
	//min-height:100%;
	background:#fff;
	position:relative;
	border-right:10px solid $faceColor;
	border-left:10px solid $faceColor;
	//overflow:hidden;
}
.abs-centered{
	margin:auto;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
.wrapper{
	padding-left:10px;
	padding-right:10px;
}
.content-back{
	background:#fff;
	width:100%;
	height:320px;
	position: absolute;
	z-index:-10;
}
#load{
	width:100%;
}
#main-content{
	background:#422e69;
	color:#fff;
}
.hidden{
	display:hidden;
}
.work-link{
	width:100%;
	img{
		width:100%;
	}
}
section{
	height:auto;
	width:100%;
	border-bottom:1px #ffff00 solid;
	//background:#ff0000;
}

.section-content{
	display:none;

}


article{
	position: relative;
	height:200px;
	background:#ff0000;
}
.head{
	min-height:100%;
}

.chewing-box{
	width:500px;
	height:0px;
	position:relative;
	//background:#AA4444;
}

.icn-contact{
	background:url("../img/icon/icn-contact.png")no-repeat;
	background-position:center;
	display:block;
	height:30px;
	//width:46px;

}
.icn{
	font-size:0px;
}

$screen-sm:768px;

@media (max-width: screen-sm) {

	body{
		background:#ff0000;
	}

 }