//@import 'bootstrap';
@import 'colors';
@import 'header';
@import 'animations';
@import 'footer';
@import 'content-section';
@import 'resume';
@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700|Open+Sans:400,700);

//font-family: 'Quicksand', sans-serif;
//font-family: 'Open Sans', sans-serif;
html{
	
}

body{
	//height:100%;
	margin:0;
	//background:url("../img/glass-texture.png")repeat;
	//background-position:center;
	background-color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	color:#000;
}
h1,h2,h3{
	font-family: 'Quicksand', sans-serif;

}
h1{
	margin-top:0;
	margin-bottom:20px;
	color:#000;
}
h2{
	font-size:3.0em;
	@media(max-width:979px){
		font-size:2.0em;
	}
	@media(max-width:767px){
		font-size:1.2em;

	}	
}
p{
	margin:0;
}
a{
	&:hover{
		text-decoration: none;
	}
}

.nav-link{
	//width:100%;
}

.container{
	//min-height:100%;
	//background:#ebfcfc;
	//min-width:500px;
	position:relative;
	margin-top:20px;
	//overflow:hidden;
}
.abs-centered{
	margin:auto;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
.wrapper{
	padding-left:10px;
	padding-right:10px;
}
.content-back{
	background:#fff;
	width:100%;
	height:320px;
	position: absolute;
	z-index:-10;
}
#loader{
	//display:none;
	//width:100%;
	@media(max-width:767px){
		margin-left:10px;
		margin-right:10px;
	}

}
#main-content{
	//background:#422e69;
	margin-top:60px;
	@media(max-width:767px){
		margin-top:0;
	}	
	
	
}
.hidden{
	display:hidden;
}
.preview{
	width:100%;

}
.section-title{
	position: absolute;
	//margin: 0 auto;
	width:100%;
	text-align: center;
	top:10px;
	//font-weight:bold;
	//opacity:0;
	@media(max-width:767px){
		top:-10px;
	}
}
.title-fade{
	opacity: 0;
}
.work-link{
	width:100%;
	height:auto;
	display:block;
	
	img{
		border:1px solid #000;
		opacity: 1;
	   /*
	   transition: opacity .25s ease-in-out;
	   -moz-transition: opacity .25s ease-in-out;
	   -webkit-transition: opacity .25s ease-in-out;
	   */
	}

	&:hover{
	}

}
section{
	height:auto;
	width:100%;
	//margin-right:176px;
	margin-bottom:50px;
	//background:#000;

	//border-bottom:1px #ffff00 solid;
	//background:#ff0000;
	@media(max-width:767px){
		margin-bottom:10px;
	}
}

.work-section{
	padding:0;
}

.section-content{
	display:none;
	//margin-left:20px;

}

.head{
	min-height:100%;
}

.chewing-box{
	width:500px;
	height:0px;
	position:relative;
	//background:#AA4444;
}

.icn-contact{
	background:url("../img/icon/icn-contact.png")no-repeat;
	background-position:center;
	display:block;
	height:30px;
	//width:46px;

}
.icn{
	font-size:0px;
}
.thumby{
	cursor: pointer;
}
.linkedin{
	margin-top:20px;
}
.about-pic{
	//max-width:600px;
}

$screen-sm:768px;

@media (max-width: screen-sm) {

	body{
		background:#ff0000;
	}
	.container{
		width:100%;
	}

 }