@import 'colors.css';
@import 'typography.css';
@import 'helpers.css';
@import 'links.css';
@import 'animations/paragraph_line_reveal.css';
@import 'animations/border_highlight.css';
@import 'modules/social_section.css';
@import 'modules/music_section.css';
@import 'modules/header.css';
@import 'modules/main_content.css';
@import 'modules/about_section.css';
@import 'modules/footer.css';

body {
  margin: 0;
  background-color: black;
  color: var(--blue);
  font-family: Plavsky;
  font-size: 16px;
  /* background-image: url('../images/mountains.jpg'); */
}

.gundam-wrapper {
  /* display: flex;
  flex-flow: column; */
  /* min-height: 100vh; */
}

.header div,
.footer div {
  border: 1px solid #48c7f1;
}

.content-wrap {
  padding: 20px 0;
  position: relative;
  background-color: black;
  border: none !important;
}

.circle-overlay-main {
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50vw - 300px);
  height: var(--circle);
  width: var(--circle);
  /* max-height: 600px;
  max-width: 600px; */
  border: 1px solid #48c7f1;
  border-radius: 50%;
}

@media only screen and (min-width: 1386px) {
  /* .circle-overlay-main {
    top: calc(50% - 268px);
    left: calc(50vw - 268px);
    height: 556px;
    width: 556px;
  } */
}
