@import 'helpers.css';
@import 'colors.css';
@import 'typography.css';
@import 'links.css';
@import 'modules/_all.css';
@import 'animations/_all.css';

html {
  height: 100%;
}

#app {
  height: inherit;
}

body {
  height: inherit;
  margin: 0;
  background-color: black;
  color: var(--blue);

  /* background-image: url('../images/mountains.jpg'); */
}

nav ul li a {
  text-decoration: none;
}

.gundam-wrapper {
  height: inherit;
  display: grid;
  grid-template-rows: 77px 1fr 60px;
  /* display: flex;
  flex-flow: column; */
  /* min-height: 100vh; */
}

.header div,
.footer div {
  border: 1px solid #48c7f1;
}

.content-wrap {
  padding: 20px 0;
  position: relative;
  background-color: black;
  border: none !important;
}

.circle-overlay-main {
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50vw - 300px);
  height: var(--circle);
  width: var(--circle);
  /* max-height: 600px;
  max-width: 600px; */
  border: 1px solid #48c7f1;
  border-radius: 50%;
}

@media only screen and (min-width: 1386px) {
  /* .circle-overlay-main {
    top: calc(50% - 268px);
    left: calc(50vw - 268px);
    height: 556px;
    width: 556px;
  } */
}
