@import 'other.css';

@font-face {
  font-family: Plavsky;
  src: url(../fonts/plavsky.otf);
}

:root {
  --circle: 600px;
}

body {
  margin: 0;
  background-color: black;
  color: #48c7f1;
  font-family: Plavsky;
  font-size: 16px;
  background-image: url('../images/mountains.jpg');
}

h1 {
  font-size: 2rem;
}

.gundam-wrapper {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

header {
  display: grid;
  grid-template-columns: 1fr 50vw 1fr;
  grid-template-areas: "left-panel center-panel right-panel";
  grid-column-gap: 20px;
}

.left-panel {
  text-align: left;
}

.center-panel {
  text-align: center;
}

.right-panel {
  text-align: right;
}

.header div,
.footer div {
  border: 1px solid #48c7f1;
}

.main-content {
  display: flex;
  flex: 1;
  justify-content: space-between;
  position: relative;
  margin-top: 20px;
}

.circle-border-left {
  border-radius: 0 50vw 50vw 0;
}

.circle-border-right {
  border-radius: 50vw 0 0 50vw;
}

.left-content {
  width: 25vw;
  /* border: 1px solid; */
}

.right-content {
  width: 25vw;
  /* border: 1px solid; */
}

.circle-overlay-main {
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50vw - 300px);
  height: var(--circle);
  width: var(--circle);
  /* max-height: 600px;
  max-width: 600px; */
  border: 1px solid #48c7f1;
  border-radius: 50%;
}

footer {
  position: fixed;
  top: calc(100vh - 60px);
  width: 100vw;
  margin-top: 30px;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 30vw 1fr;
  animation: menuSlideIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in
}

footer.slide-in {
  animation: menuSlideIn;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

footer.slide-menu {
  animation-name: menuSlideOut;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

footer .center-panel {
  margin: 0 30px;
}

@keyframes menuSlideIn {
  0% {
    top: calc(100vh - 60px);
  }

  100% {
    top: calc(100vh - 200px);
  }
}

@keyframes menuSlideOut {
  0% {
    top: calc(100vh - 200px);
  }

  100% {
    top: calc(100vh - 60px);
  }
}

@media only screen and (min-width: 1386px) {
  /* .circle-overlay-main {
    top: calc(50% - 268px);
    left: calc(50vw - 268px);
    height: 556px;
    width: 556px;
  } */
}
