@font-face {
  font-family: Geosans;
  src: url('../fonts/GeosansLight.ttf');
}

@font-face {
  font-family: Comfortaa;
  src: url('../fonts/Comfortaa-Regular.ttf');
}

@font-face {
  font-family: Plavsky;
  src: url('../fonts/plavsky.otf');
}

body {
  font-family: Geosans;
  font-size: 16px;
  /* background-image: url('../images/mountains.jpg'); */
}

p,
body .body-copy {
  font-size: 1.4rem;
}

ul {
  font-size: 1.4rem;
}

h1,
h2,
h3,
h4 {
  font-family: Comfortaa;
  /* color: #52eaa3; */
  border-color: var(--blue) !important;
}

.main-header {
  color: #ff3e21;
  font-family: Comfortaa;
}

h1 {
  font-family: Comfortaa;
  font-size: 2rem;
  margin-top: 0;
}

h2 {
  font-size: 1.4rem;
}

p {
  line-height: 24px;
  margin-bottom: 0;
}

a,
a:visited {
  color: var(--red);
}
