@keyframes lineReveal {
  0% {
    top: 0;
    width: 300px;
  }

  20% {
    top: 0;
    width: 0;
  }

  21% {
    top: 24px;
  }

  22% {
    width: 300px;
  }

  41% {
    top: 24px;
    width: 0;
  }

  /* 50% {
  }

  75% {
  } */
  100% {
    top: 24px;
    width: 0;
  }
}

@keyframes lowerTheBlock {
  0% {
    top: 24px;
  }

  21% {
    top: 24px;
  }

  22% {
    top: 48px;
  }

  31% {
    top: 48px;
  }

  100% {
    top: 48px;
  }
}

.animation-paragraph {
  position: relative;
}

.animation-paragraph::before {
  content: "";
  right: 0;
  /* direction: rtl !important; */
  top: 0;
  height: 24px;
  width: 300px;
  /* float: left; */
  /* border: 1px solid #aadd99; */
  background-color: #000;
  display: block;
  position: absolute;
  animation-name: lineReveal;
  /* animation-iteration-count: infinite; */
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-duration: 5s;
}

.animation-paragraph::after {
  content: "";
  top: 24px;
  height: 500px;
  width: 300px;
  /* border: 1px solid #feae11; */
  background-color: #000;
  display: block;
  position: absolute;
  animation-name: lowerTheBlock;
  /* animation-iteration-count: infinite; */
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-duration: 5s;
}
