footer {
  position: fixed;
  top: calc(100vh - 60px);
  width: 100vw;
  margin-top: 30px;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 30vw 1fr;
  animation: menuSlideIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in
}

footer.slide-in {
  animation: menuSlideIn;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

footer.slide-menu {
  animation-name: menuSlideOut;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

footer .center-panel {
  margin: 0 30px;
}

@keyframes menuSlideIn {
  0% {
    top: calc(100vh - 60px);
  }

  100% {
    top: calc(100vh - 200px);
  }
}

@keyframes menuSlideOut {
  0% {
    top: calc(100vh - 200px);
  }

  100% {
    top: calc(100vh - 60px);
  }
}
