header {
  display: grid;
  /* grid-template-columns: 1fr 50vw 1fr; */
  /* grid-template-areas: "left-panel center-panel right-panel"; */
  grid-column-gap: 20px;
  position: relative;
}

.left-panel {
  text-align: left;
  position: relative;
  z-index: 1;
}

.center-panel {
  text-align: center;
  position: relative;
  /* box-sizing: border-box; */
  z-index: 1;
  box-sizing: content-box;
}

.right-panel {
  font-size: 20px;
  text-align: right;
  position: relative;
  z-index: 1;
}

.header h1 {
  margin-bottom: 0;
}

.header p,
h1 {
  /* //left: 23px;*/
  position: relative;
  z-index: 1;
}
