header {
  display: grid;
  grid-template-columns: 1fr 50vw 1fr;
  grid-template-areas: "left-panel center-panel right-panel";
  grid-column-gap: 20px;
}

.left-panel {
  text-align: left;
}

.center-panel {
  text-align: center;
}

.right-panel {
  font-size: 20px;
  text-align: right;
  position: relative;
}

.right-panel p {
  position: absolute;
  left: 23px;
  z-index: 2;
}

.right-panel-outline {
  border: none !important;
}

.right-panel-outline::before,
.right-panel-outline::after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 50%;
  top: 0;
  z-index: 0;
  outline: 1px solid #000;
}

.right-panel-outline::before {
  right: 0;
  /* transition: width 300ms; */
  animation: revealOutline;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.right-panel-outline:hover::before {}

.runanimation .right-panel-outline::before {
  animation-play-state: running;
}

.right-panel-outline::after {
  /* left: -2px; */
  /* background-color: #000; */
  animation: revealOutline;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  /* transition: width 300ms; */
}

.runanimation .right-panel-outline::after {
  animation-play-state: running;
}

@keyframes revealOutline {
  0% {
    width: 50%;
  }

  50% {
    width: 0%;
    height: 100%;
  }

  100% {
    width: 0%;
    height: 0%;
  }
}
