.main-content {
  /* display: flex; */
  /* flex: 1; */
  /* justify-content: space-between; */
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  position: relative;
  height: 100%;
}

.circle-border-left {
  border-radius: 0 50vw 50vw 0;
}

.circle-border-right {
  border-radius: 50vw 0 0 50vw;
}

.left-content {
  width: 25vw;
  /* border: 1px solid; */
}

.animation-paragraph {
  width: 300px;
  display: relative;
}

.right-content {
  width: 25vw;
  /* border: 1px solid; */
}
